<!DOCTYPE html>
<html lang="en">

<%- include ../frontend/layouts/header.ejs %>

<body>

<div class="container">
    <div class="offset-lg-2 col-lg-8">
        <div class="row">
            <div class="offset-lg-2 col-lg-8">
                <form  method="post" action="/auth/register" class="ws-login-form">
                    <div class="row">
                        <div class="offset-lg-2 col-lg-8 offset-md-2 col-md-8">
                            <a href="/">
                                <img src="/assets/img/wasfaty_logo_color.png" alt="wasfaty">
                            </a>
                            <% if(error && error.length > 0){ %>
                                <div class="alert alert-danger">
                                    <%= error %>
                                </div>
                            <% } else if(success && success.length > 0 ){ %>
                                <div class="alert alert-success">
                                    <%= success %>
                                </div>
                            <% } %>
                            <div class="form-group text-left">
                                <label for="email"><%= i18n.__("Email") %></label>
                                <input class="form-control" name="email" type="email" required id="email">
                            </div>
                            <div class="form-group text-left">
                                <label for="password"><%= i18n.__("Password") %></label>
                                <input type="password" name="password" id="password" class="form-control" required>
                            </div>
                            <div class="form-group text-left">
                                <label for="phone">Mobile Number</label>
                                <input type="text" name="phone" id="phone" class="form-control" required>
                            </div>
                            <div class="form-group text-left">
                                <label for="role">Account Type</label>
                                <select  name="role" id="role" class="form-control">
                                    <option value="Company"><%= i18n.__("Company") %></option>
                                    <option value="Pharmacy"><%= i18n.__("Pharmacy") %></option>
                                    <option value="Salesman"><%= i18n.__("Salesman") %></option>
                                    <option value="Doctor"><%= i18n.__("Doctor") %></option>
                                    <option value="Client"><%= i18n.__("Client") %></option>
                                    <option value="Driver"><%= i18n.__("Driver") %></option>
                                </select>
                            </div>
                            <div class="form-group text-left terms-service-agree">
                                <input type="checkbox" required/>
                                <%= i18n.__('I have read and agree the ') %><a href="/terms-and-conditions" target="_blank" style="color: #0b2e13;text-decoration: underline;"><%= i18n.__('Terms & Conditions') %></a> <%=  %>
                            </div>
                            <div class="login-register-btns">
                                <button class="btn register-submit-btn">
                                    <div>
                                        SIGN UP
                                    </div>
                                </button>
                            </div>
                            <p class="have-already-account">Already have an account? <a href="/auth/login">Login</a></p>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<%- include ../frontend/layouts/footer.ejs %>

</body>
</html>
