<!DOCTYPE html>
<html lang="en">

<%- include ../layouts/header.ejs %>

<body>
<div class="main-wrapper">
    <%- include ../layouts/menubar.ejs %>
    <%- include ../layouts/sidebar.ejs %>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-lg-8">
                    <h4 class="page-title"><%= i18n.__("Add " + user_type) %></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <form action="/invite/add" method="post">
                        <div class="row">
                            <% if(session.user.role == 'Admin') { %>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label><%= i18n.__("Email") %> <span class="text-danger">*</span></label>
                                        <input class="form-control" type="email" name="email" required>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label><%= i18n.__("User Types") %> <span class="text-danger">*</span></label>
                                        <select class="form-control" name="role" required>
                                            <% for(var j = 0; j<user_levels.length; j++) {%>
                                                <option value="<%= user_levels[j] %>" <%= (user_levels[j] == user_type)?'selected':'' %>><%= i18n.__(user_levels[j]) %></option>
                                            <% }%>
                                        </select>
                                    </div>
                                </div>
                            <% } else { %>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label><%= i18n.__("Email") %> <span class="text-danger">*</span></label>
                                        <input class="form-control" type="email" name="email" required>
                                        <input class="form-control" type="hidden" name="role" value="<%= user_type %>">
                                    </div>
                                </div>
                            <% } %>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><%= i18n.__("Password") %></label>
                                            <input class="form-control" type="text" name="password" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group random-password-group">
                                            <label><%= i18n.__("Random Password") %></label>
                                            <button class="btn btn-primary" type="button" onclick="genRandomPassword()">
                                                <%= i18n.__("Generate") %>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-t-20 text-center">
                            <button class="btn btn-primary submit-btn"><%= i18n.__("Invite") %></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ../layouts/footer.ejs %>

</body>
</html>
