<!DOCTYPE html>
<html lang="en">

<%- include ../layouts/header.ejs %>
<%
    function getTodayDt() {
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        return  dd + '/' + mm + '/' + yyyy;
    }
    var lang = getLocale();
 %>
<body>
<div class="main-wrapper">
    <%- include ../layouts/menubar.ejs %>
    <%- include ../layouts/sidebar.ejs %>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Complete Your Profile</h4>
                </div>
                <% if(!user_info.isDoneProfile) { %>
                <div class="col-sm-12">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Warning !</strong> Please fill your profile information!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
                <% } %>
                <% if(error && error.length>0) {  %>
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert">
                            <strong><%= i18n.__("Error!") %></strong> <%= i18n.__(error) %>
                        </div>
                    </div>
                <% } %>
                <% if(success && success.length>0) {  %>
                    <div class="col-sm-12">
                        <div class="alert alert-success" role="alert">
                            <strong><%= i18n.__("Success!") %></strong> <%= i18n.__(success) %>
                        </div>
                    </div>
                <% } %>
            </div>
            <form action="/invite/profile/update" method="post">
                <div class="card-box">
                    <h3 class="card-title"><%= i18n.__("Basic Information") %></h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile-img-wrap">
                                <img class="inline-block" id="avatar-image"
                                     src="<%= (user_info.pic) ? user_info.pic : '/assets/img/user.jpg' %>" alt="user">
                                <div class="fileupload btn">
                                    <span class="btn-text"><%= i18n.__("edit") %></span>
                                    <input class="upload" type="file" id="avatar-input" accept="image/*">
                                </div>
                                <input type="hidden" value="<%= user_info.pic %>" name="pic">
                            </div>
                            <div class="profile-basic">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="focus-label"><%= i18n.__("Name (EN)") %></label>
                                            <input type="text" class="form-control floating"
                                                   name="nameEn"
                                                   value="<%= user_info.nameEn %>" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="focus-label"><%= i18n.__("Name (AR)") %></label>
                                            <input type="text" class="form-control floating"
                                                   name="nameAr"
                                                   value="<%= user_info.nameAr %>" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="focus-label"><%= i18n.__("Email") %></label>
                                            <input type="email" class="form-control floating"
                                                   name="email" disabled
                                                   value="<%= user_info.email %>" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="focus-label"><%= i18n.__("Phone") %></label>
                                            <input type="text" class="form-control floating"
                                                   name="phone"
                                                   value="<%= user_info.phone %>" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="focus-label"><%= i18n.__("Nationality") %></label>
                                            <select class="select form-control floating"
                                                    name="nationality">
                                                <% for(var i = 0 ; i<nationalities.length; i++) { %>
                                                    <option value="<%= nationalities[i].name %>"
                                                            <%= (nationalities[i].name == user_info.nationality)?"selected":'' %>>
                                                        <%= nationalities[i].name %>
                                                    </option>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="focus-label"><%= i18n.__("Birth Date") %></label>
                                            <div class="cal-icon">
                                                <input class="form-control floating datetimepicker"
                                                       name="birthDay"
                                                       type="text" value="<%= user_info.birthDay %>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group select-focus">
                                            <label class="focus-label"><%= i18n.__("Gender") %></label>
                                            <select class="select form-control floating" name="gender">
                                                <option value="Male" <%= (user_info.gender == 'Male')?'selected':'' %>>Male</option>
                                                <option value="Female" <%= (user_info.gender == 'Female')?'selected':'' %>>Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group select-focus">
                                            <label class="focus-label"><%= i18n.__("Country") %></label>
                                            <% var selcountry = (user_info.country)? user_info.country:'Saudi Arabia'; %>
                                            <select class="select form-control floating"
                                                    name="country">
                                                <% for(var key in countries) {
                                                    if(countries.hasOwnProperty(key)) {
                                                %>
                                                <option <%= (countries[key].CountryName == selcountry)?'selected':'' %>
                                                        value="<%= countries[key].CountryName %>">
                                                    <%= countries[key].CountryName %>
                                                </option>
                                                <% } } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="focus-label"><%= i18n.__("City") %></label>
                                            <% var selcity = (user_info.city)? user_info.city:'Jeddah'; %>
                                            <input type="text" class="form-control floating"
                                                   name="city"
                                                   value="<%= selcity %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-box">
                    <h3 class="card-title"><%= i18n.__("Other Information") %></h3>
                    <div class="row">
                        <% if((session.user.role == 'Admin' && session.user._id != user_info._id)   ||
                                user_info.role == 'Salesman' ||
                                user_info.role == 'Pharmacy' ||
                                user_info.role == 'Driver') {  %>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="focus-label"><%= i18n.__("Company Name") %></label>
                                    <select class="select form-control floating"
                                            name="companyName">
                                        <% for(i = 0 ; i<companies.length; i++) { %>
                                            <option value="<%= companies[i]._id %>">
                                                <%= companies[i].nameEn %>
                                            </option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        <% } %>
                        <%  if ((session.user.role == 'Admin' && session.user._id != user_info._id) ||
                                user_info.role == 'Doctor' ||
                                user_info.role == 'Client') {  %>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="focus-label"><%= i18n.__("Insurance Type") %></label>
                                    <select class="select form-control floating"  name="insuranceType">
                                        <% for(i = 0 ; i<ins_types.length; i++) { %>
                                            <option value="<%= ins_types[i].name %>"
                                                    <%= (ins_types[i].name == user_info.insuranceType)?"selected":"" %>>
                                                <%= ins_types[i].name %>
                                            </option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="focus-label"><%= i18n.__("Insurance Company") %></label>
                                    <select class="select form-control floating"  name="insuranceCompany">
                                        <% for(i = 0 ; i<ins_companies.length; i++) { %>
                                            <option value="<%= ins_companies[i].name %>"
                                                    <%= (ins_companies[i].name == user_info.insuranceCompany)?"selected":"" %>>
                                                <%= ins_companies[i].name %>
                                            </option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="focus-label"><%= i18n.__("Insurance Grade") %></label>
                                    <select class="select form-control floating"  name="insuranceGrade">
                                        <% for(i = 0 ; i<ins_grades.length; i++) { %>
                                            <option value="<%= ins_grades[i].name %>"
                                                    <%= (ins_grades[i].name == user_info.insuranceGrade)?"selected":"" %>>
                                                <%= ins_grades[i].name %>
                                            </option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="focus-label"><%= i18n.__("Address") %></label>
                                    <input type="text" class="form-control floating"
                                           name="address"
                                           value="<%= user_info.address %>" required>
                                </div>
                            </div>
                        <% } %>
                        <% if((session.user.role == 'Admin' && session.user._id != user_info._id) ||
                                user_info.role == 'Doctor') { %>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="focus-label"><%= i18n.__("Specialist") %></label>
                                    <select class="select form-control floating"
                                            name="spec">
                                        <% for(i = 0 ; i<spec_list.length; i++) { %>
                                            <option value="<%= spec_list[i].specId %>"
                                                    <%= (spec_list[i].specId == user_info.spec)?"selected":'' %>>
                                                <%= spec_list[i]['name_' + lang] %>
                                            </option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        <% } %>
                        <%  if ((session.user.role == 'Admin' && session.user._id != user_info._id) ||
                                user_info.role == 'Driver') {  %>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="focus-label"><%= i18n.__("Licence No") %></label>
                                    <input type="text" class="form-control floating"
                                           name="licenceNo"
                                           value="<%= user_info.licenceNo %>" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="focus-label"><%= i18n.__("Licence Expiry Date") %></label>
                                    <div class="cal-icon">
                                        <input class="form-control floating datetimepicker" type="text"
                                               name="licenceExpDate"
                                               value="<%= (user_info.licenceExpDate)?user_info.licenceExpDate: getTodayDt() %>" required>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <% if ((session.user.role == 'Admin' && session.user._id != user_info._id) ||
                                user_info.role == 'Company' ||
                                user_info.role == 'Client' ||
                                user_info.role == 'Driver' ||
                                user_info.role == 'Pharmacy') {  %>
                            <div class="col-md-12" style="display: <%= (session.user.role == 'Client')?'none': '' %>">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="focus-label"><%= i18n.__("GPS Location (Latitude)") %></label>
                                            <input type="number" class="form-control"
                                                   name="gpsLat" placeholder="Latitude" step="any"
                                                   value="<%= user_info.gpsLat %>" required>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="focus-label"><%= i18n.__("GPS Location (Longitude)") %></label>
                                            <input type="number" class="form-control"
                                                   name="gpsLong" placeholder="Longitude" step="any"
                                                   value="<%= user_info.gpsLong %>" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="focus-label">&nbsp;</label>
                                            <button type="button" class="btn btn-primary" id="getMyLocation"><%= i18n.__("Get Location") %></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="googleMapCompany" style="display: <%= (session.user.role == 'Client')?'none': '' %>">

                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="text-center m-t-20">
                    <button class="btn btn-primary submit-btn"><%= i18n.__("Save") %></button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include ../layouts/footer.ejs %>

<% if(user_info.role == 'Admin' ||
        user_info.role == 'Company' ||
        user_info.role == 'Driver' ||
        user_info.role == 'Pharmacy') { %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= config.gMapKey %>&callback=myMap"></script>
    <script>
        /**
         * Show Google Map
         */
        var center = {lat: Number('<%= (user_info.gpsLat)?user_info.gpsLat:config.mapCenter.lat %>'), lng: Number('<%= (user_info.gpsLong)?user_info.gpsLong:config.mapCenter.long; %>')};
        var userPosition = {lat: Number('<%= (user_info.gpsLat)?user_info.gpsLat:config.mapCenter.lat %>'), lng: Number('<%= (user_info.gpsLong)?user_info.gpsLong:config.mapCenter.long; %>')};
        var map, mapProp, marker;
        function myMap() {
            mapProp = {
                center: center,
                zoom: 16,
            };
            map = new google.maps.Map(document.getElementById("googleMapCompany"), mapProp);

            marker = new google.maps.Marker({
                position: userPosition,
                map: map
            });

        }

        myMap();


        google.maps.event.addListener(map, 'click', function(event) {
            marker.setPosition(event.latLng);
            $('input[name="gpsLat"]').val(event.latLng.lat());
            $('input[name="gpsLong"]').val(event.latLng.lng());
        });

        $('#getMyLocation').click(function () {
            getMyLocation();
        })

    </script>
<% } %>

<% if(session.user.role == 'Client') {  %>
    <script>
        var map, mapProp, marker;
        setTimeout(function () {
            getMyLocation();
        }, 500);

    </script>
<% } %>

<%- include ../../component/cropperjs.ejs %>

</body>
</html>
