<!DOCTYPE html>
<html lang="en">

<%- include ../layouts/header.ejs %>
<%
var formatTime = function (ts) {
    var date = new Date(ts);
    // Years part from the timestamp
    var year = date.getFullYear();
    // Month part from the timestamp
    var month = date.getMonth() + 1;
    if (month<10){ month = '0' + month;}
    // Day part from the timestamp
    var day = date.getDate();
    if (day<10){ day = '0' + day;}
    return year+"-"+month + "-"+day;
}
%>
<body>
<div class="main-wrapper">
    <%- include ../layouts/menubar.ejs %>
    <%- include ../layouts/sidebar.ejs %>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-sm-4 col-3">
                    <h4 class="page-title"><%= i18n.__("Invitation List") %></h4>
                </div>
                <div class="col-sm-8 col-9 text-right m-b-20">
                    <% if(session.user.role == 'Salesman') { //Salesman Invitation  %>
                    <a href="/salesman/invite/add" class="btn btn btn-primary btn-rounded float-right">
                        <i class="fa fa-plus"></i> <%= i18n.__("Invite New User") %>
                    </a>
                    <% } else { // Admin Invitation %>
                    <a href="/admin/member/add?s=all" class="btn btn btn-primary btn-rounded float-right">
                        <i class="fa fa-plus"></i> <%= i18n.__("Invite New User") %>
                    </a>
                    <% } %>
                </div>
                <% if(error && error.length > 0) { %>
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert">
                            <strong><%= i18n.__("Error!") %></strong> <%= i18n.__(error) %>
                        </div>
                    </div>
                <% } %>
                <% if(success && success.length > 0) { %>
                    <div class="col-sm-12">
                        <div class="alert alert-success" role="alert">
                            <strong><%= i18n.__("Success!") %></strong> <%= i18n.__(success) %>
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-border table-striped custom-table datatable mb-0">
                            <thead>
                                <tr>
                                    <th><%= i18n.__("Sender Email") %></th>
                                    <th><%= i18n.__("Sender Role") %></th>
                                    <th><%= i18n.__("Receiver Email") %></th>
                                    <th><%= i18n.__("Receiver Role") %></th>
                                    <th><%= i18n.__("Password") %></th>
                                    <th><%= i18n.__("Status") %></th>
                                    <th><%= i18n.__("CreatedAt") %></th>
                                    <th><%= i18n.__("AcceptedAt") %></th>
                                    <th><%= i18n.__("Action") %></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 0; i<invites.length; i++) {  %>
                                    <tr>
                                        <td><%= invites[i].senderEmail %></td>
                                        <td><%= invites[i].senderRole %></td>
                                        <td><%= invites[i].receiverEmail %></td>
                                        <td><%= invites[i].receiverRole %></td>
                                        <td><%= invites[i].password %></td>
                                        <td>
                                            <%  if(invites[i].status == 'Accepted') {  %>
                                                <span class="custom-badge status-green"><%= invites[i].status %></span>
                                            <% } else  {  %>
                                                <span class="custom-badge status-red"><%= invites[i].status %></span>
                                            <% } %>
                                        </td>
                                        <td><%= formatTime(invites[i].createdAt) %></td>
                                        <td><%= (invites[i].acceptedAt)? formatTime(invites[i].acceptedAt):'N/A' %></td>
                                        <td>
                                            <a class="btn btn-primary ws-delete-link" href="#"
                                               data-msg="Invitation"
                                               data-url="/invite/delete/<%= invites[i]._id %>"
                                               data-id="<%= invites[i]._id %>"
                                               data-toggle="modal" data-target="#delete_box"><%= i18n.__("Delete") %></a>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ../layouts/footer.ejs %>

</body>
</html>
