<!DOCTYPE html>
<html lang="en">

<%- include ../layouts/header.ejs %>
<%
    var formatTime = function (ts) {
        var date = new Date(ts);
        // Years part from the timestamp
        var year = date.getFullYear();
        // Month part from the timestamp
        var month = date.getMonth() + 1;
        if (month < 10) {
            month = '0' + month;
        }
        // Day part from the timestamp
        var day = date.getDate();
        if (day < 10) {
            day = '0' + day;
        }
        return year + "-" + month + "-" + day;
    }
    var formatTimeWithOffset = function (ts) {
        var date = new Date(ts);
        // Years part from the timestamp
        date  = new Date(date.getTime() - date.getTimezoneOffset() * 60 * 1000);
        var year = date.getFullYear();
        // Month part from the timestamp
        var month = date.getMonth() + 1;
        if (month < 10) {
            month = '0' + month;
        }
        // Day part from the timestamp
        var day = date.getDate();
        if (day < 10) {
            day = '0' + day;
        }
        return month + "/" + day + "/" + year;
    }
%>
<body>
<div class="main-wrapper">
    <%- include ../layouts/menubar.ejs %>
    <%- include ../layouts/sidebar.ejs %>
    <div class="page-wrapper">
        <div class="content">
            <div class="row justify-content-center">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                    <div class="dash-widget ws-dash-widget" style="cursor: pointer" onclick="onClickTodayCommission()">
                        <div class="dash-widget-info ws-dash-widget-info text-center">
                            <div id="rateYo" data-ratio="<%= marketIndicator %>" class="text-center"></div>
                            <span class="widget-title2" style="background: #6955ce;">
                                       <%= i18n.__("Market Indicator") %>
                                       <i class="fa fa-check" aria-hidden="true"></i>
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                    <div class="dash-widget" style="cursor: pointer" onclick="onClickTodayCommission()">
                        <span class="dash-widget-bg2"><i class="fa fa-money"></i></span>
                        <div class="dash-widget-info text-right">
                            <h3><%= todayCommission %></h3>
                            <span class="widget-title2"><%= i18n.__("Today Commissions") %> <i class="fa fa-check" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                    <div class="dash-widget" style="cursor: pointer" onclick="onClickMonthCommission()">
                        <span class="dash-widget-bg1"><i class="fa fa-money" aria-hidden="true"></i></span>
                        <div class="dash-widget-info text-right">
                            <h3><%= monthCommission %></h3>
                            <span class="widget-title1"><%= i18n.__("Commissions in this month") %> <i class="fa fa-check" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                    <div class="dash-widget" style="cursor: pointer" onclick="onClickTodayOrders()">
                        <span class="dash-widget-bg3"><i class="fa fa-database" aria-hidden="true"></i></span>
                        <div class="dash-widget-info text-right">
                            <h3><%= todayOrders %></h3>
                            <span class="widget-title3"><%= i18n.__("Today Orders") %> <i class="fa fa-check" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                    <div class="dash-widget">
                        <span class="dash-widget-bg4"><i class="fa fa-users" aria-hidden="true"></i></span>
                        <div class="dash-widget-info text-right">
                            <h3><%= clientCount %></h3>
                            <span class="widget-title4"><%= i18n.__("Client Counts") %> <i class="fa fa-check" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <%= i18n.__("New Orders") %>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-border table-striped custom-table datatable mb-0">
                                    <thead>
                                    <tr>
                                        <th><%= i18n.__("Doctor") %></th>
                                        <th><%= i18n.__("Client") %></th>
                                        <th><%= i18n.__("Mobile") %></th>
                                        <th><%= i18n.__("Remark") %></th>
                                        <th><%= i18n.__("OrderType") %></th>
                                        <th><%= i18n.__("Status") %></th>
                                        <th><%= i18n.__("CreatedAt") %></th>
                                        <th><%= i18n.__("UpdatedAt") %></th>
                                        <th class="text-right"><%= i18n.__("Action") %></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% for(var i = 0; i < data_list.length; i++) { %>
                                        <tr>
                                            <td><%= data_list[i].doctorEmail %></td>
                                            <td><%= data_list[i].clientEmail %></td>
                                            <td><%= data_list[i].clientPhone %></td>
                                            <td><%= data_list[i].remark %></td>
                                            <td>
                                                <% if(data_list[i].orderType == 'Rejected') { %>
                                                    <span class="custom-badge status-red"><%= i18n.__("Rejected") %></span>
                                                <% } else  { %>
                                                    <span class="custom-badge status-green"><%= data_list[i].orderType %></span>
                                                <% } %>
                                            </td>
                                            <td><%= i18n.__(data_list[i].status) %></td>
                                            <td><%= formatTime(data_list[i].createdAt) %></td>
                                            <td><%= (data_list[i].updatedAt) ? formatTime(data_list[i].updatedAt) : '' %></td>
                                            <td class="text-right">
                                                <a class="btn btn-success"
                                                   href="/pharmacy/orders/view/<%= data_list[i].orderId %>">
                                                    <i class="fa fa-eye m-r-5"></i> <%= i18n.__("View") %>
                                                </a>
                                            </td>
                                        </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="chart-title">
                                <h4><%= i18n.__("Monthly Total Commission For This Year") %></h4>
                            </div>
                            <canvas id="total_commissions_graph"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="chart-title">
                                <h4><%= i18n.__("Monthly No of Clients For This Year") %></h4>
                            </div>
                            <canvas id="client_bargraph"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sidebar-overlay" data-reff=""></div>

<%- include ../layouts/footer.ejs %>
<script>
    function onClickTodayCommission() {
        var todayDt = new Date();
        todayDt.setHours(0, 0, 0, 0);
        todayDt = formatTime(todayDt);
        location.href = "/pharmacy/reports?fromDate=" + todayDt;
    }
    function onClickMonthCommission() {
        var todayDt = new Date();
        todayDt.setDate(1);
        todayDt.setHours(0, 0, 0, 0);
        todayDt = formatTime(todayDt);
        location.href = "/pharmacy/reports?fromDate=" + todayDt;
    }
    function onClickTodayOrders() {
        var todayDt = new Date();
        todayDt.setHours(0, 0, 0, 0);
        todayDt = formatTime(todayDt);
        location.href = "/pharmacy/orders?fromDate=" + todayDt;
    }
</script>
<script>
    // Line Chart
    var commGraphData = JSON.parse('<%- JSON.stringify(commGraphData) %>');
    var clientGraphData = JSON.parse('<%- JSON.stringify(clientGraphData) %>');
    var totalCommissionChartData = {
        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
            label: "Items Qty",
            backgroundColor: "rgba(0, 158, 251, 0.5)",
            // data: [100, 70, 20, 100, 120, 50, 70, 50, 50, 100, 50, 90]
            data: commGraphData
        }]
    };

    if (document.getElementById('total_commissions_graph')) {
        var totalcommctx = document.getElementById('total_commissions_graph').getContext('2d');
        window.myLine = new Chart(totalcommctx, {
            type: 'line',
            data: totalCommissionChartData,
            options: {
                responsive: true,
                legend: {
                    display: false,
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                }
            }
        });
    }

    var clientChartData = {
        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
            label: "Client count",
            backgroundColor: "rgba(255, 188, 53, 0.5)",
            // data: [100, 70, 20, 100, 120, 50, 70, 50, 50, 100, 50, 90]
            data: clientGraphData
        }]
    };

    if (document.getElementById('client_bargraph')) {
        var doctorLinectx = document.getElementById('client_bargraph').getContext('2d');
        window.myLine = new Chart(doctorLinectx, {
            type: 'line',
            data: clientChartData,
            options: {
                responsive: true,
                legend: {
                    display: false,
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                }
            }
        });
    }
</script>
<script>
    var marketIndicatoar = $('#rateYo').attr('data-ratio');
    $("#rateYo").rateYo({
        rating: marketIndicatoar,
        readOnly: true
    });
</script>
</body>
</html>
