<!DOCTYPE html>
<html lang="en">

<%- include ../layouts/header.ejs %>

<body>
<div class="main-wrapper">
    <%- include ../layouts/menubar.ejs %>
    <%- include ../layouts/sidebar.ejs %>
    <div class="page-wrapper">
        <div class="content">
            <h3>Driver Fee Settings</h3>
            <div class="row">
                <div class="col-md-4">
                    <form action="/admin/setting/driver-fee/update" method="post">
                        <% if(error && error.length > 0){ %>
                            <div class="alert alert-danger">
                                <%= error %>
                            </div>
                        <% } else if(success && success.length > 0 ){ %>
                            <div class="alert alert-success">
                                <%= success %>
                            </div>
                        <% } %>
                        <div class="form-group">
                            <label>Driver Fee</label>
                            <input class="form-control" name="driverFee" value="<%= driverFee %>" type="number" step=".01" required>
                        </div>
                        <button class="btn btn-primary" style="width: 100%">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ../layouts/footer.ejs %>
</body>
</html>
users/profile
