<!DOCTYPE html>
<html lang="en">

<%- include ../layouts/header.ejs %>

<body>
<div class="main-wrapper">
    <%- include ../layouts/menubar.ejs %>
    <%- include ../layouts/sidebar.ejs %>
    <div class="page-wrapper">
        <div class="content">
            <h3><%= i18n.__("Default Commission Settings") %></h3>
            <div class="row">
                <div class="col-md-4">
                    <form action="/admin/setting/commission/update" method="post">
                        <% if(error && error.length > 0){ %>
                            <div class="alert alert-danger">
                                <%= i18n.__(error) %>
                            </div>
                        <% } else if(success && success.length > 0 ){ %>
                            <div class="alert alert-success">
                                <%= i18n.__(success) %>
                            </div>
                        <% } %>
                        <% for(var key in config.defaultCommissions) { %>
                            <div class="form-group">
                                <label><%= i18n.__(key) %></label>
                                <input class="form-control" name="<%= key %>" type="number" value="<%= comms[key] %>" required>
                            </div>
                        <% } %>
                        <div class="form-group">
                            <label><%= i18n.__("Wasfaty Online") %></label>
                            <input class="form-control" name="Wasfaty" value="<%= comms.Wasfaty %>" type="number" required>
                        </div>
                        <button class="btn btn-primary" style="width: 100%"><%= i18n.__("Save") %></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ../layouts/footer.ejs %>
</body>
</html>

