<!DOCTYPE html>
<html lang="en">

<%- include ../layouts/header.ejs %>

<%
var formatTime = function (ts) {
    var date = new Date(ts);
    // Years part from the timestamp
    var year = date.getFullYear();
    // Month part from the timestamp
    var month = date.getMonth() + 1;
    if (month<10){ month = '0' + month;}
    // Day part from the timestamp
    var day = date.getDate();
    if (day<10){ day = '0' + day;}
    return year+"-"+month + "-"+day;
}
var isAdmin = session.user.role == 'Admin';
%>

<body>
<div class="main-wrapper">
    <%- include ../layouts/menubar.ejs %>
    <%- include ../layouts/sidebar.ejs %>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-sm-4 col-3">
                    <h4 class="page-title"><%= i18n.__("Message Details") %></h4>
                </div>
                <% if(error && error.length > 0) { %>
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert">
                            <strong><%= i18n.__("Error!") %></strong> <%= i18n.__(error) %>
                        </div>
                    </div>
                <% } %>
                <% if(success && success.length > 0) { %>
                    <div class="col-sm-12">
                        <div class="alert alert-success" role="alert">
                            <strong><%= i18n.__("Success!") %></strong> <%= i18n.__(success) %>
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <form action="/message/<%= (!pg_type)? 'update/' + msgInfo.messageId:'create'  %>" method="post">
                        <input type="hidden" name="userEmail" value="<%= session.user.email %>">
                        <input type="hidden" name="userType" value="<%= session.user.role %>">
                        <div class="form-group">
                            <label><%= i18n.__("Title") %></label>
                            <input class="form-control" maxlength="50"
                                   value="<%= (pg_type)?'':msgInfo.title %>"
                                   required name="title" <%= (isAdmin)?'disabled':'' %>>
                        </div>
                        <div class="form-group">
                            <label><%= i18n.__("Description") %></label>
                            <textarea class="form-control" name="description"
                                      rows="10" required <%= (isAdmin)?'disabled':'' %>><%= (pg_type)?'':msgInfo.description %></textarea>
                        </div>
                        <% if (!isAdmin) {  %>
                            <div class="form-group">
                                <button class="btn btn-primary"><%= i18n.__("Submit") %></button>
                            </div>
                        <% } %>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ../layouts/footer.ejs %>

</body>
</html>
