<!DOCTYPE html>
<html lang="en">

<%- include ../layouts/header.ejs %>

<%
var formatTime = function (ts) {
    var date = new Date(ts);
    // Years part from the timestamp
    var year = date.getFullYear();
    // Month part from the timestamp
    var month = date.getMonth() + 1;
    if (month<10){ month = '0' + month;}
    // Day part from the timestamp
    var day = date.getDate();
    if (day<10){ day = '0' + day;}
    return year+"-"+month + "-"+day;
}
%>

<body>
<div class="main-wrapper">
    <%- include ../layouts/menubar.ejs %>
    <%- include ../layouts/sidebar.ejs %>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-sm-4 col-3">
                    <h4 class="page-title"><%= i18n.__("Message List") %></h4>
                </div>
                <% if(session.user.role != 'Admin') {  %>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <a href="/message/add" class="btn btn btn-primary btn-rounded float-right">
                            <i class="fa fa-plus"></i> <%= i18n.__("Add New Message") %>
                        </a>
                    </div>
                <% } %>
                <% if(error && error.length > 0) { %>
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert">
                            <strong><%= i18n.__("Error!") %></strong> <%= i18n.__(error) %>
                        </div>
                    </div>
                <% } %>
                <% if(success && success.length > 0) { %>
                    <div class="col-sm-12">
                        <div class="alert alert-success" role="alert">
                            <strong><%= i18n.__("Success!") %></strong> <%= i18n.__(success) %>
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-border table-striped custom-table datatable mb-0">
                            <thead>
                            <tr>
                                <th><%= i18n.__("ID") %></th>
                                <th><%= i18n.__("Title") %></th>
                                <th><%= i18n.__("Description") %></th>
                                <th><%= i18n.__("UserEmail") %></th>
                                <th><%= i18n.__("UserType") %></th>
                                <th><%= i18n.__("CreatedAt") %></th>
                                <th><%= i18n.__("Action") %></th>
                            </tr>
                            </thead>
                            <tbody>
                            <%  for(var i = 0; i<news_list.length; i++) {  %>
                                <tr>
                                    <td><%= news_list[i].messageId %></td>
                                    <td><%= news_list[i].title %></td>
                                    <td><%= news_list[i].description %></td>
                                    <td><%= news_list[i].userEmail %></td>
                                    <td><%= i18n.__(news_list[i].userType) %></td>
                                    <td><%= formatTime(news_list[i].createdAt) %></td>
                                    <td>
                                        <a href="/message/edit/<%= news_list[i].messageId %>" class="btn btn-outline-primary"><%= i18n.__("View") %></a>
                                    </td>
                                </tr>
                            <%  } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ../layouts/footer.ejs %>

</body>
</html>
