<!DOCTYPE html>
<html lang="en">

<%- include ../layouts/header.ejs %>

<%
var formatTime = function (ts) {
    var date = new Date(ts);
    // Years part from the timestamp
    var year = date.getFullYear();
    // Month part from the timestamp
    var month = date.getMonth() + 1;
    if (month<10){ month = '0' + month;}
    // Day part from the timestamp
    var day = date.getDate();
    if (day<10){ day = '0' + day;}
    return year+"-"+month + "-"+day;
}
var isAdmin = session.user.role == 'Admin';
%>

<body>
<div class="main-wrapper">
    <%- include ../layouts/menubar.ejs %>
    <%- include ../layouts/sidebar.ejs %>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-sm-4 col-3">
                    <h4 class="page-title">Announcement Details</h4>
                </div>
                <% if(error && error.length > 0) { %>
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert">
                            <strong>Error!</strong> <%= error %>
                        </div>
                    </div>
                <% } %>
                <% if(success && success.length > 0) { %>
                    <div class="col-sm-12">
                        <div class="alert alert-success" role="alert">
                            <strong>Success!</strong> <%= success %>
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <form action="/announcement/<%= (!pg_type)? 'update/' + annInfo.annId:'create'  %>" method="post">
                        <div class="form-group">
                            <label>User Types</label>
                            <select name="userType" class="form-control" <%= (isAdmin)?'':'disabled' %>>
                                <option value="" <%= (!pg_type && !annInfo.userType)?'selected':'' %>>All</option>
                                <% for(var i = 0; i<config.userLevels.length; i++) {  %>
                                    <option value="<%= config.userLevels[i] %>" <%= (!pg_type && annInfo.userType == config.userLevels[i])?'selected':'' %> ><%= config.userLevels[i] %></option>
                                <% } %>
                                <option value="CallCenter" <%= (!pg_type && annInfo.userType == 'CallCenter')?'selected':'' %>>CallCenter</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Title</label>
                            <input class="form-control" maxlength="50"
                                   value="<%= (pg_type)?'':annInfo.title %>"
                                   required name="title" <%= (isAdmin)?'':'disabled' %>>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" name="description"
                                      rows="10" required <%= (isAdmin)?'':'disabled' %>><%= (pg_type)?'':annInfo.description %></textarea>
                        </div>
                        <% if (isAdmin) {  %>
                            <div class="form-group">
                                <button class="btn btn-primary">Submit</button>
                            </div>
                        <% } %>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ../layouts/footer.ejs %>

</body>
</html>
