<!DOCTYPE html>
<html lang="en">

<%- include ../layouts/header.ejs %>
<%
var formatTime = function (ts) {
    var date = new Date(ts);
    // Years part from the timestamp
    var year = date.getFullYear();
    // Month part from the timestamp
    var month = date.getMonth() + 1;
    if (month<10){ month = '0' + month;}
    // Day part from the timestamp
    var day = date.getDate();
    if (day<10){ day = '0' + day;}
    return year+"-"+month + "-"+day;
}
%>
<body>
<div class="main-wrapper">
    <%- include ../layouts/menubar.ejs %>
    <%- include ../layouts/sidebar.ejs %>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-sm-4 col-3">
                    <h4 class="page-title"><%= i18n.__("Client List") %></h4>
                </div>
                <div class="col-sm-8 col-9 text-right m-b-20">
                    <a href="/admin/member/add?s=Client" class="btn btn btn-primary btn-rounded float-right">
                        <i class="fa fa-plus"></i> <%= i18n.__("Add Client") %>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-border table-striped custom-table datatable mb-0">
                            <thead>
                            <tr>
                                <th><%= i18n.__("Name(EN/AR)") %></th>
                                <th><%= i18n.__("Email") %></th>
                                <th><%= i18n.__("Phone") %></th>
                                <th><%= i18n.__("Country") %></th>
                                <th><%= i18n.__("City") %></th>
                                <th><%= i18n.__("Status") %></th>
                                <th><%= i18n.__("CreatedAt") %></th>
                                <th class="text-right"><%= i18n.__("Action") %></th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(var i = 0; i<users.length; i++) {  %>
                                <tr>
                                    <td>
                                        <img width="28" height="28" src="<%= (users[i].pic)?users[i].pic:'/assets/img/user.jpg'; %>" class="rounded-circle m-r-5" alt="">
                                        <%= (getLocale()== 'en')? users[i].nameEn: users[i].nameAr %>
                                    </td>
                                    <td><%= users[i].email %></td>
                                    <td><%= users[i].phone %></td>
                                    <td><%= users[i].country %></td>
                                    <td><%= users[i].city %></td>
                                    <td>
                                        <button type="button" class="btn btn-sm <%= (users[i].status == "Enabled")?"btn-primary":"btn-secondary" %>"><%= (users[i].status)?users[i].status:'Disabled' %></button>
                                    </td>
                                    <td><%= formatTime(users[i].createdAt) %></td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="/users/profile?m=edit&id=<%= users[i]._id %>">
                                                    <i class="fa fa-pencil m-r-5"></i> <%= i18n.__("Edit") %></a>
                                                <a class="dropdown-item"
                                                   href="/users/reset-password?id=<%= users[i]._id %>"><i
                                                            class="fa fa-refresh m-r-5"></i> <%= i18n.__("Change Password") %></a>
                                                <a class="dropdown-item ws-delete-link"
                                                   href="#"
                                                   data-msg="<%= i18n.__("Client") %>"
                                                   data-url="/users/delete/<%= users[i]._id %>"
                                                   data-toggle="modal"
                                                   data-target="#delete_box">
                                                    <i class="fa fa-trash-o m-r-5"></i> <%= i18n.__("Delete") %></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ../layouts/footer.ejs %>

</body>
</html>
