<!DOCTYPE html>
<html lang="en">

<%- include ../layouts/header.ejs %>

<body>
<div class="main-wrapper">
    <%- include ../layouts/menubar.ejs %>
    <%- include ../layouts/sidebar.ejs %>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                    <div class="dash-widget">
                        <span class="dash-widget-bg2"><i class="fa fa-money"></i></span>
                        <div class="dash-widget-info text-right">
                            <h3><%= todayCommission %></h3>
                            <span class="widget-title2">Today Commissions <i class="fa fa-check" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                    <div class="dash-widget">
                        <span class="dash-widget-bg1"><i class="fa fa-money" aria-hidden="true"></i></span>
                        <div class="dash-widget-info text-right">
                            <h3><%= monthCommission %></h3>
                            <span class="widget-title1">Commissions in this month <i class="fa fa-check" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                    <div class="dash-widget">
                        <span class="dash-widget-bg3"><i class="fa fa-database" aria-hidden="true"></i></span>
                        <div class="dash-widget-info text-right">
                            <h3><%= totalItemAmount %></h3>
                            <span class="widget-title3">Company Item amount in this month <i class="fa fa-check" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                    <div class="dash-widget">
                        <span class="dash-widget-bg4"><i class="fa fa-users" aria-hidden="true"></i></span>
                        <div class="dash-widget-info text-right">
                            <h3><%= doctorCount %></h3>
                            <span class="widget-title4">Doctor Counts <i class="fa fa-check" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="chart-title">
                                <h4>Monthly Total Commission For This Year</h4>
                            </div>
                            <canvas id="total_commissions_graph"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="chart-title">
                                <h4>Monthly No of Clients For This Year</h4>
                            </div>
                            <canvas id="client_bargraph"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sidebar-overlay" data-reff=""></div>

<%- include ../layouts/footer.ejs %>

<script>
    // Line Chart
    var commGraphData = JSON.parse('<%- JSON.stringify(commGraphData) %>');
    var clientGraphData = JSON.parse('<%- JSON.stringify(clientGraphData) %>');
    var totalCommissionChartData = {
        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
            label: "Items Qty",
            backgroundColor: "rgba(0, 158, 251, 0.5)",
            // data: [100, 70, 20, 100, 120, 50, 70, 50, 50, 100, 50, 90]
            data: commGraphData
        }]
    };

    if (document.getElementById('total_commissions_graph')) {
        var totalcommctx = document.getElementById('total_commissions_graph').getContext('2d');
        window.myLine = new Chart(totalcommctx, {
            type: 'line',
            data: totalCommissionChartData,
            options: {
                responsive: true,
                legend: {
                    display: false,
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                }
            }
        });
    }

    var clientChartData = {
        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
            label: "Client count",
            backgroundColor: "rgba(255, 188, 53, 0.5)",
            // data: [100, 70, 20, 100, 120, 50, 70, 50, 50, 100, 50, 90]
            data: clientGraphData
        }]
    };

    if (document.getElementById('client_bargraph')) {
        var doctorLinectx = document.getElementById('client_bargraph').getContext('2d');
        window.myLine = new Chart(doctorLinectx, {
            type: 'line',
            data: clientChartData,
            options: {
                responsive: true,
                legend: {
                    display: false,
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                }
            }
        });
    }
</script>

</body>
</html>
