<!DOCTYPE html>
<html lang="en">

<%- include ../layouts/header.ejs %>
<%
 function formatDt (ts) {
     var m = new Date(ts);
     return m.getUTCFullYear() + "/" + (m.getUTCMonth()+1) +"/"+ m.getUTCDate() + " " + m.getUTCHours() + ":" + m.getUTCMinutes() + ":" + m.getUTCSeconds();

 }

 %>
<%
    var lang = getLocale();
    var suffix = (lang == 'ar') ? 'Ar' : 'En';
%>
<body>
<div class="main-wrapper">
    <%- include ../layouts/menubar.ejs %>
    <%- include ../layouts/sidebar.ejs %>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-title">
                        Order Details
                        &nbsp;<i class="fa fa-print"
                                 id="printOrderDetails"
                                 onclick="onPrintOrderDetails()"
                                 data-toggle="tooltip"
                                 title="Print Order Details"></i>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>OrderNo</label>
                                            <input class="form-control" type="text" name="orderId"
                                                   value="<%= orderInfo.orderId %>" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input class="form-control ws-order-ctl"
                                                   value="<%= orderInfo.clientEmail %>"
                                                   type="text" name="clientEmail" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Mobile</label>
                                            <input class="form-control ws-order-ctl"
                                                   value="<%= orderInfo.clientPhone %>"
                                                   type="text" name="clientPhone" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input class="form-control ws-order-ctl" disabled
                                                   value="<%= orderInfo.clientName %>"
                                                   type="text" name="clientName">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Insurance Type</label>
                                            <select class="form-control floating ws-order-ctl" disabled id="curInsType">
                                                <% for(i = 0 ; i < ins_types.length; i++) { %>
                                                    <option value="<%= ins_types[i].name %>" <%= (orderInfo.insuranceType == ins_types[i].name) ? 'selected' : '' %>><%= ins_types[i].name %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Insurance Grade</label>
                                            <select class="form-control floating ws-order-ctl" disabled id="curInsGrade">
                                                <% for(i = 0 ; i < ins_grades.length; i++) { %>
                                                    <option value="<%= ins_grades[i].name %>" <%= (orderInfo.insuranceGrade == ins_grades[i].name) ? 'selected' : '' %>><%= ins_grades[i].name %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Insurance Company</label>
                                            <select class="form-control floating ws-order-ctl" disabled  id="curInsCompany">
                                                <% for(i = 0 ; i < ins_companies.length; i++) { %>
                                                    <option value="<%= ins_companies[i].name %>" <%= (orderInfo.insuranceCompany == ins_companies[i].name) ? 'selected' : '' %>><%= ins_companies[i].name %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Remark</label>
                                            <input class="form-control" disabled type="text"
                                                   value="<%= orderInfo.remark %>" name="remark">
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" value="totalPrice" name="totalPrice">
                                <input type="hidden" value="items" name="items" id="items">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="order-item-list">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 82px">Picture</th>
                                                        <th>Item Code</th>
                                                        <th>Item Description</th>
                                                        <th>Item Dosage</th>
                                                        <th>QTY</th>
                                                        <th>Amount</th>
                                                        <th>Total</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="order-items-body">
                                                <% for(var i = 0; i < orderInfo.items.length; i++) { %>
                                                    <tr>
                                                        <td style="width: 82px">
                                                            <img class="itemPic" src="<%= (orderInfo.items[i].picture && orderInfo.items[i].picture.length != 0) ? orderInfo.items[i].picture : "/assets/img/no_image.png"; %>">
                                                        </td>
                                                        <td><%= orderInfo.items[i].code %></td>
                                                        <td><%= orderInfo.items[i]['description_' + lang] %></td>
                                                        <td><%= orderInfo.items[i].dosage %></td>
                                                        <td><%= orderInfo.items[i].qty %></td>
                                                        <td><%= orderInfo.items[i].amount %></td>
                                                        <td><%= orderInfo.items[i].total %></td>
                                                        <td><%= orderInfo.items[i].status %></td>
                                                    </tr>
                                                <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-12 text-right">
                                            <div class="form-group">
                                                <h4>Total: $<span id="total-item-price"><%= orderInfo.totalPrice %></span>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <p class="order-status-wrap">
                                            Order Status: <span class="pending"><%= orderInfo.status %></span></p>
                                    </div>
                                </div>
                                <% if(session.user.role == 'Client') { %>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div>
                                                <p class="client-order-action">You picked up delivery </p>
                                                <p class="client-target-info"> Delivery Picked At :
                                                    <%= formatDt(orderInfo.updatedAt) %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                                <% if (session.user.role == 'Driver' &&
                                        orderInfo.orderType == 'Delivery' &&
                                        orderInfo.status != "Closed" &&
                                        orderInfo.status != "Cancelled")  {  %>

                                <% } %>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ../layouts/footer.ejs %>

<script>

    function onCancelOrder(orderId) {
        swal({
            title: "Are you sure to cancel this order?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    location.href = '/orders/canceled/' + orderId;
                } else {
                    console.log('close modal');
                }
            });
    }

    function onPhAcceptOrder(orderId, orderStId) {
        swal({
            title: "Are you sure to accept this order?",
            icon: "success",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    location.href = '/orders/pickup/accept/' + orderId + '/' + orderStId;
                } else {
                    console.log('close modal');
                }
            });
    }

    function onPhCloseOrder(orderId, orderStId) {
        swal({
            title: "Are you sure to close this order?",
            icon: "success",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    location.href = '/orders/pickup/close/' + orderId + '/' + orderStId;
                } else {
                    console.log('close modal');
                }
            });
    }

    function onPhRejectOrder(orderId, orderStId) {
        swal({
            title: "Are you sure to reject this order?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal({
                        title: "Type your reject reason",
                        content: {
                            element: "input",
                            attributes: {
                                placeholder: "Type your reject reason",
                                type: "text",
                            },
                        },
                    }).then((willReject) => {
                        if (willReject) {
                            var reason = ($('.swal-content__input').val())
                            location.href = '/orders/pickup/reject/' + orderId + '/' + orderStId + '/' + reason;
                        }
                    })
                    //
                } else {
                    console.log('close modal');
                }
            });
    }
    function onSelectDelivery(orderId) {
        swal({
            title: "Are you sure?",
            text: "Once picked up, you will be delivered this order by driver!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    location.href = '/orders/delivery/picked/' + orderId;
                } else {
                    console.log('close modal');
                }
            });
    }
</script>
</body>
</html>
