<!DOCTYPE html>
<html lang="en">

<%- include ../layouts/header.ejs %>
<%
var lang = getLocale();
var suffix = (lang == 'ar') ? 'Ar' : 'En';
%>
<body>
<div class="main-wrapper">
    <%- include ../layouts/menubar.ejs %>
    <%- include ../layouts/sidebar.ejs %>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-title">
                        <%= i18n.__("Order Details") %>
                        &nbsp;<i class="fa fa-print float-right"
                                 id="printOrderDetails"
                                 onclick="onPrintOrderDetails()"
                                 data-toggle="tooltip"
                                 title="<%= i18n.__("Print Order Details") %>"></i>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label><%= i18n.__("OrderNo") %></label>
                                            <input class="form-control" type="text" name="orderId"
                                                   value="<%= orderInfo.orderId %>" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label><%= i18n.__("Email") %></label>
                                            <input class="form-control ws-order-ctl"
                                                   value="<%= orderInfo.clientEmail %>"
                                                   type="text" name="clientEmail" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label><%= i18n.__("Mobile") %></label>
                                            <input class="form-control ws-order-ctl"
                                                   value="<%= orderInfo.clientPhone %>"
                                                   type="text" name="clientPhone" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label><%= i18n.__("Name") %></label>
                                            <input class="form-control ws-order-ctl" disabled
                                                   value="<%= orderInfo.clientName %>"
                                                   type="text" name="clientName">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label><%= i18n.__("Insurance Type") %></label>
                                            <select class="form-control floating ws-order-ctl" disabled id="curInsType">
                                                <% for(i = 0 ; i < ins_types.length; i++) { %>
                                                    <option value="<%= ins_types[i].name %>" <%= (orderInfo.insuranceType == ins_types[i].name) ? 'selected' : '' %>><%= ins_types[i].name %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label><%= i18n.__("Insurance Grade") %></label>
                                            <select class="form-control floating ws-order-ctl" disabled id="curInsGrade">
                                                <% for(i = 0 ; i < ins_grades.length; i++) { %>
                                                    <option value="<%= ins_grades[i].name %>" <%= (orderInfo.insuranceGrade == ins_grades[i].name) ? 'selected' : '' %>><%= ins_grades[i].name %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label><%= i18n.__("Insurance Company") %></label>
                                            <select class="form-control floating ws-order-ctl" disabled  id="curInsCompany">
                                                <% for(i = 0 ; i < ins_companies.length; i++) { %>
                                                    <option value="<%= ins_companies[i].name %>" <%= (orderInfo.insuranceCompany == ins_companies[i].name) ? 'selected' : '' %>><%= ins_companies[i].name %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label><%= i18n.__("Remark") %></label>
                                            <input class="form-control" disabled type="text"
                                                   value="<%= orderInfo.remark %>" name="remark">
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" value="totalPrice" name="totalPrice">
                                <input type="hidden" value="items" name="items" id="items">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="order-item-list">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 82px"><%= i18n.__("Picture") %></th>
                                                        <th><%= i18n.__("Item Code") %></th>
                                                        <th><%= i18n.__("Item Description") %></th>
                                                        <th><%= i18n.__("Item Dosage") %></th>
                                                        <th><%= i18n.__("Qty") %></th>
                                                        <th><%= i18n.__("Amount") %></th>
                                                        <th><%= i18n.__("Total") %></th>
                                                        <th><%= i18n.__("Status") %></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="order-items-body">
                                                <% for(var i = 0; i < orderInfo.items.length; i++) { %>
                                                    <tr>
                                                        <td style="width: 82px">
                                                            <img class="itemPic" src="<%= (orderInfo.items[i].picture && orderInfo.items[i].picture.length != 0) ? orderInfo.items[i].picture : "/assets/img/no_image.png"; %>">
                                                        </td>
                                                        <td><%= orderInfo.items[i].code %></td>
                                                        <td><%= orderInfo.items[i]['description_' + lang] %></td>
                                                        <td><%= orderInfo.items[i].dosage %></td>
                                                        <td><%= orderInfo.items[i].qty %></td>
                                                        <td><%= orderInfo.items[i].amount %></td>
                                                        <td><%= orderInfo.items[i].total %></td>
                                                        <td><%= orderInfo.items[i].status %></td>
                                                    </tr>
                                                <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-12 text-right">
                                            <div class="form-group">
                                                <h4><%= i18n.__("Total") %> : <span
                                                            id="total-item-price"><%= orderInfo.totalPrice %></span>
                                                </h4>
                                                <% if(orderInfo.orderType == 'Delivery' && orderInfo.status == 'Closed') {  %>
                                                    <h4><%= i18n.__("Transportation Fee") %> : <%=  driverFee ; %></h4>
                                                <% } %>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <p class="order-status-wrap"><%= i18n.__("Order Status") %>: <span
                                                    class="pending"><%= i18n.__(orderInfo.status) %></span></p>
                                    </div>
                                </div>
                                <% if(session.user.role == 'Client') { %>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <% if(orderInfo.status == "Open") { %>
                                                <a class="btn btn-warning"
                                                   onclick="onCancelOrder('<%= orderInfo.orderId %>')"><%= i18n.__("Cancel Order") %></a>
                                            <% } %>
                                            <% if(orderInfo.status != 'Cancelled' && orderInfo.status != 'Closed') { %>
                                                <% if(!orderStInfo || (orderStInfo && orderStInfo.orderType == 'Rejected')) { %>
                                                    <a href="/orders/pickup/<%= orderInfo.orderId %>"
                                                       class="btn btn-primary"><%= i18n.__("Pick up") %></a>
                                                    <a href="/orders/delivery/<%= orderInfo.orderId %>" class="btn btn-success" style="display: none"><%= i18n.__("Delivery") %></a>
                                                    <button type="button" onclick="onSelectDelivery('<%= orderInfo.orderId %>')" class="btn btn-success"><%= i18n.__("Delivery") %></button>
                                                <% } %>
                                            <% } else { %>
                                                <a href="###" class="btn btn-info"
                                                   style="cursor: auto"><%= (orderInfo.orderType) ? i18n.__(orderInfo.orderType) : i18n.__('Pickup') %> <%= i18n.__("Order") %></a>
                                            <% } %>
                                            <% if (orderStInfo) { %>
                                                <% if (orderStInfo.orderType == 'PhPicked') { %>
                                                    <div>
                                                        <p class="client-order-action"><%= i18n.__("You picked up pharmacy") %> </p>
                                                        <p class="client-target-info"> <%= i18n.__("Pharmacy Info") %>:
                                                            <a href="<%= `/users/profile?m=view&id=${orderStInfo.phId}` %>"
                                                               target="_blank">
                                                                <%= (orderPhInfo['name' + suffix]) ? orderPhInfo['name' + suffix] : orderPhInfo.email %>
                                                            </a>
                                                        </p>
                                                        <p class="client-target-info navigate-pharmacy-location">
                                                            <a href="<%= `https://www.google.com/maps?z=16&t=m&q=loc:${orderPhInfo.gpsLat}+${orderPhInfo.gpsLong}` %>"
                                                               target="_blank">
                                                                <%= i18n.__("Navigate to Pharmacy Location") %>
                                                            </a>
                                                        </p>
                                                    </div>
                                                <% } else if(orderStInfo.orderType == 'PhAccepted') { %>
                                                    <div>
                                                        <p class="client-order-action"><%= i18n.__("Order has been accepted by pharmacy") %> </p>
                                                        <p class="client-target-info"> <%= i18n.__("Pharmacy Info") %>:
                                                            <a href="<%= `/users/profile?m=view&id=${orderStInfo.phId}` %>"
                                                               target="_blank">
                                                                <%= (orderPhInfo['name' + suffix]) ? orderPhInfo['name' + suffix] : orderPhInfo.email %>
                                                            </a>
                                                        </p>
                                                        <p class="client-target-info navigate-pharmacy-location">
                                                            <a href="<%= `https://www.google.com/maps?z=16&t=m&q=loc:${orderPhInfo.gpsLat}+${orderPhInfo.gpsLong}` %>"
                                                               target="_blank">
                                                                <%= i18n.__("Navigate to Pharmacy Location") %>
                                                            </a>
                                                        </p>
                                                    </div>
                                                <% } else if(orderStInfo.orderType == 'Rejected') { %>
                                                    <div>
                                                        <p class="client-order-action rejected-st"><%= i18n.__("Order has been rejected") %></p>
                                                        <p class="client-target-info"> Pharmacy Info:
                                                            <a href="<%= `/users/profile?m=view&id=${orderStInfo.phId}` %>"
                                                               target="_blank">
                                                                <%= (orderPhInfo['name' + suffix]) ? orderPhInfo['name' + suffix] : orderPhInfo.email %>
                                                            </a>
                                                        </p>
                                                        <p class="client-target-info navigate-pharmacy-location">
                                                            <a href="<%= `https://www.google.com/maps?z=16&t=m&q=loc:${orderPhInfo.gpsLat}+${orderPhInfo.gpsLong}` %>"
                                                               target="_blank">
                                                                <%= i18n.__("Navigate to Pharmacy Location") %>
                                                            </a>
                                                        </p>
                                                        <hr>
                                                        <div class="rejected-reason-wrapper">
                                                            <h5><%= i18n.__("Rejected Reason") %></h5>
                                                            <div>
                                                                <%- orderStInfo.description %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% } else if(orderStInfo.orderType == 'DriverPicked') { %>
                                                    <div>
                                                        <p class="client-order-action"><%= i18n.__("You selected delivery") %> </p>
                                                        <p class="client-target-info"> <%= i18n.__("Driver Info") %>:
                                                            <a href="<%= `/users/profile?m=view&id=${orderStInfo.driverId}` %>"
                                                               target="_blank">
                                                                <%= (orderPhInfo['name' + suffix]) ? orderPhInfo['name' + suffix] : orderPhInfo.email %>
                                                            </a>
                                                        </p>
                                                    </div>
                                                <% } else if(orderStInfo.orderType == 'DriverAccepted') { %>
                                                    <div>
                                                        <p class="client-order-action"><%= i18n.__("Order has been accepted by driver") %> </p>
                                                        <p class="client-target-info"> <%= i18n.__("Driver Info") %>:
                                                            <a href="<%= `/users/profile?m=view&id=${orderStInfo.driverId}` %>"
                                                               target="_blank">
                                                                <%= (orderPhInfo['name' + suffix]) ? orderPhInfo['name' + suffix] : orderPhInfo.email %>
                                                            </a>
                                                        </p>
                                                    </div>
                                                <% } else if(orderStInfo.orderType == 'DriverRejected') { %>
                                                    <div>
                                                        <p class="client-order-action"><%= i18n.__("You rejected your order") %> </p>
                                                        <p class="client-target-info"> <%= i18n.__("Driver Info") %>:
                                                            <a href="<%= `/users/profile?m=view&id=${orderStInfo.driverId}` %>"
                                                               target="_blank">
                                                                <%= (orderPhInfo['name' + suffix]) ? orderPhInfo['name' + suffix] : orderPhInfo.email %>
                                                            </a>
                                                        </p>
                                                    </div>
                                                <% } %>
                                            <% } %>
                                        </div>
                                    </div>
                                <% } %>
                                <% if(  session.user.role == 'Pharmacy' &&
                                        orderInfo.orderType == 'Pickup' &&
                                        orderInfo.status != "Closed" &&
                                        orderInfo.status != "Cancelled") { %>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <% if (orderStInfo.orderType == 'PhPicked') { %>
                                                <a href="##" class="btn btn-primary"
                                                   onclick="onPhAcceptOrder('<%= orderInfo.orderId %>', '<%= orderStInfo._id %>')"><%= i18n.__("Accept") %></a>
                                                <a class="btn btn-warning"
                                                   onclick="onPhRejectOrder('<%= orderInfo.orderId %>', '<%= orderStInfo._id %>')"><%= i18n.__("Reject") %></a>
                                            <% } else if (orderStInfo.orderType == 'PhAccepted') { %>
                                                <a href="##" class="btn btn-success"
                                                   onclick="onPhCloseOrder('<%= orderInfo.orderId %>', '<%= orderStInfo._id %>')">
                                                    <%= i18n.__("Close Order") %>
                                                </a>
                                            <% } else if (orderStInfo.orderType == 'Rejected') { %>
                                                <p class="rejected-order">
                                                    <%= i18n.__("Rejected Order by") %>
                                                    <a href="<%= `/users/profile?m=view&id=${orderStInfo.phId}` %>"
                                                       target="_blank">
                                                        <%= (orderPhInfo['name' + suffix]) ? orderPhInfo['name' + suffix] : orderPhInfo.email %>
                                                         ( <%= i18n.__("Pharmacy") %> )
                                                    </a>
                                                </p>
                                                <div class="rejected-reason-wrapper">
                                                    <h5><%= i18n.__("Rejected Reason") %></h5>
                                                    <div>
                                                        <%- orderStInfo.description %>
                                                    </div>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                <% } else if (session.user.role == 'Driver' &&
                                        orderInfo.orderType == 'Delivery' &&
                                        orderInfo.status != "Closed" &&
                                        orderInfo.status != "Cancelled")  {  %>

                                <% } %>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ../layouts/footer.ejs %>

<script>

    function onCancelOrder(orderId) {
        swal({
            title: "Are you sure to cancel this order?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    location.href = '/orders/canceled/' + orderId;
                } else {
                    console.log('close modal');
                }
            });
    }

    function onPhAcceptOrder(orderId, orderStId) {
        swal({
            title: "Are you sure to accept this order?",
            icon: "success",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    location.href = '/orders/pickup/accept/' + orderId + '/' + orderStId;
                } else {
                    console.log('close modal');
                }
            });
    }

    function onPhCloseOrder(orderId, orderStId) {
        swal({
            title: "Are you sure to close this order?",
            icon: "success",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    location.href = '/orders/pickup/close/' + orderId + '/' + orderStId;
                } else {
                    console.log('close modal');
                }
            });
    }

    function onPhRejectOrder(orderId, orderStId) {
        swal({
            title: "Are you sure to reject this order?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal({
                        title: "Type your reject reason",
                        content: {
                            element: "input",
                            attributes: {
                                placeholder: "Type your reject reason",
                                type: "text",
                            },
                        },
                    }).then((willReject) => {
                        if (willReject) {
                            var reason = ($('.swal-content__input').val())
                            location.href = '/orders/pickup/reject/' + orderId + '/' + orderStId + '/' + reason;
                        }
                    })
                    //
                } else {
                    console.log('close modal');
                }
            });
    }
    function onSelectDelivery(orderId) {
        swal({
            title: "Are you sure?",
            text: "Once picked up, you will be delivered this order by driver!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    location.href = '/orders/delivery/picked/' + orderId;
                } else {
                    console.log('close modal');
                }
            });
    }
</script>
</body>
</html>
