<!DOCTYPE html>
<html lang="en">

<%- include ../../layouts/header.ejs %>

<body>
<div class="main-wrapper">
    <%- include ../../layouts/menubar.ejs %>
    <%- include ../../layouts/sidebar.ejs %>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-lg-8">
                    <h4 class="page-title"><%= (page_mode == 'add')? i18n.__('Add ' + title):i18n.__('Edit ' + title) %></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <form action="/master-item/update/<%= mtType %>/<%= page_mode %>?id=<%= (page_mode == 'edit')?item_info.mtId:'' %>" method="post">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <% if(error && error.length>0) {  %>
                                            <div class="alert alert-danger">
                                                <strong><%= i18n.__("Error!") %></strong> <%= i18n.__(error) %>
                                            </div>
                                        <% } %>
                                        <% if(success && success.length>0) {  %>
                                            <div class="alert alert-success">
                                                <strong><%= i18n.__("Success!") %></strong> <%= i18n.__(success) %>
                                            </div>
                                        <% } %>
                                        <div class="form-group">
                                            <label><%= i18n.__("Name (English)") %></label>
                                            <input class="form-control" type="text" name="name_en" required value="<%= (page_mode=='edit')?item_info.name_en:'' %>">
                                        </div>
                                        <div class="form-group">
                                            <label><%= i18n.__("Name (Arabic)") %></label>
                                            <input class="form-control" type="text" name="name_ar" required value="<%= (page_mode=='edit')?item_info.name_ar:'' %>">
                                        </div>
                                        <div class="form-group text-center">
                                            <button class="btn btn-primary submit-btn"><%= i18n.__("Save") %></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ../../layouts/footer.ejs %>

</body>
</html>
