<!DOCTYPE html>
<html lang="en">

<%- include ../layouts/header.ejs %>
<% var lang = getLocale(); %>
<% var suffix = (lang == 'en') ? 'En' : 'Ar'; %>
<body>
<div class="main-wrapper">
    <%- include ../layouts/menubar.ejs %>
    <%- include ../layouts/sidebar.ejs %>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-lg-8">
                    <h4 class="page-title"><%= (page_mode == 'add') ? i18n.__("Add Item") : i18n.__("Edit Item") %> Item</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form action="/admin/item/<%= page_mode %>?id=<%= (page_mode == 'edit') ? item_info.itemId : '' %>"
                          method="post">
                        <% if(error && error.length > 0) { %>
                            <div class="alert alert-danger">
                                <strong><%= i18n.__("Error!") %></strong> <%= i18n.__(error) %>
                            </div>
                        <% } %>
                        <% if(success && success.length > 0) { %>
                            <div class="alert alert-success">
                                <strong><%= i18n.__("Success!") %></strong> <%= i18n.__(success) %>
                            </div>
                        <% } %>
                        <div class="row">

                            <div class="col-sm-3">
                                <div class="item-img-outer">
                                    <div class="item-img-inner">
                                        <img id="avatar-image"
                                             src="<%= (page_mode != 'add' && item_info.pic) ? item_info.pic : '/assets/img/no_image.png'; %>">
                                    </div>
                                </div>
                                <% if(page_mode != 'view') { %>
                                    <button class="btn btn-primary" id="itemImgUploadBtn">
                                        <%= i18n.__("Upload Item Picture") %>
                                        <input class="upload" type="file" id="avatar-input" accept="image/*">
                                    </button>
                                    <input type="hidden"
                                           value="<%= (page_mode != 'add' && item_info.pic) ? item_info.pic : '/assets/img/no_image.png' %>"
                                           name="pic">
                                <% } %>
                            </div>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label><%= i18n.__("Name (English)") %></label>
                                            <input class="form-control" <%= (page_mode == 'view') ? 'disabled' : '' %>
                                                   type="text" name="name_en" required
                                                   value="<%= (page_mode != 'add') ? item_info.name_en : '' %>">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label><%= i18n.__("Name (Arabic)") %></label>
                                            <input class="form-control" <%= (page_mode == 'view') ? 'disabled' : '' %>
                                                   type="text" name="name_ar" required
                                                   value="<%= (page_mode != 'add') ? item_info.name_ar : '' %>">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label><%= i18n.__("Barcode") %></label>
                                            <input class="form-control" <%= (page_mode == 'view') ? 'disabled' : '' %>
                                                   type="text" name="barcode" required
                                                   value="<%= (page_mode != 'add') ? item_info.barcode : '' %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><%= i18n.__("Description (English)") %></label>
                                            <textarea
                                                    class="form-control"  <%= (page_mode == 'view') ? 'disabled' : '' %>
                                                      rows="4"
                                                    name="description_en"><%= (page_mode != 'add') ? item_info.description_en : '' %></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><%= i18n.__("Description (Arabic)") %></label>
                                            <textarea
                                                    class="form-control"  <%= (page_mode == 'view') ? 'disabled' : '' %>
                                                      rows="4"
                                                    name="description_ar"><%= (page_mode != 'add') ? item_info.description_ar : '' %></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><%= i18n.__("Price") %></label>
                                            <input class="form-control" <%= (page_mode == 'view') ? 'disabled' : '' %>
                                                   type="number" name="price" required min="0"
                                                   value="<%= (page_mode != 'add') ? item_info.price : '' %>">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><%= i18n.__("Commissions (%)") %></label>
                                            <input class="form-control" <%= (page_mode == 'view') ? 'disabled' : '' %>
                                                   type="number" name="comm" required min="0"
                                                   value="<%= (page_mode != 'add') ? item_info.comm : '' %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <% for(var key in itemKeys) { %>
                                        <% if(itemKeys.hasOwnProperty(key) && key != 'dosageId') { %>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label><%= i18n.__(itemKeys[key].name) %></label>
                                                    <select class="form-control"
                                                            name="<%= key %>" <%= (page_mode == 'view') ? 'disabled' : '' %>>
                                                        <% for (var i = 0; i < itemKeys[key].list.length; i++ ) { %>
                                                            <option <%= (page_mode != 'add' && item_info[key] == itemKeys[key]['list'][i].mtId) ? 'selected' : '' %>
                                                                    value="<%= itemKeys[key]['list'][i].mtId; %>">
                                                                <%= itemKeys[key]['list'][i]['name_' + lang] %>
                                                            </option>
                                                        <% } %>
                                                    </select>
                                                </div>
                                            </div>
                                        <% } %>
                                    <% } %>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label><%= i18n.__("Company Name") %></label>
                                            <select class="form-control"
                                                    name="cpyNameId" <%= (page_mode == 'view') ? 'disabled' : '' %>>
                                                <% for(var i = 0; i < companies.length; i++) { %>
                                                    <option value="<%= companies[i]._id %>" <%= (page_mode == 'edit' && item_info.cpyNameId == companies[i]._id) ? 'selected' : '' %>>
                                                        <%= companies[i]['name' + suffix] %>
                                                    </option>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <% if(page_mode != 'view') { %>
                                    <div class="form-group text-center">
                                        <button class="btn btn-primary submit-btn"><%= i18n.__("Save") %></button>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ../layouts/footer.ejs %>
<%- include ../../component/cropperjs.ejs %>

</body>
</html>
