<!DOCTYPE html>
<html lang="en">

<%- include ../layouts/header.ejs %>
<%
var formatTime = function (ts) {
    var date = new Date(ts);
    // Years part from the timestamp
    var year = date.getFullYear();
    // Month part from the timestamp
    var month = date.getMonth() + 1;
    if (month<10){ month = '0' + month;}
    // Day part from the timestamp
    var day = date.getDate();
    if (day<10){ day = '0' + day;}
    return year+"-"+month + "-"+day;
}
var lang = getLocale();
%>
<body>
<div class="main-wrapper">
    <%- include ../layouts/menubar.ejs %>
    <%- include ../layouts/sidebar.ejs %>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-sm-4 col-3">
                    <h4 class="page-title">Item List</h4>
                </div>
                <div class="col-sm-8 col-9 text-right m-b-20">
                    <a href="/admin/item/add" class="btn btn btn-primary btn-rounded float-right">
                        <i class="fa fa-plus"></i> Add New Item
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-border table-striped custom-table datatable mb-0">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Picture</th>
                                <th>Barcode</th>
                                <th>Description</th>
                                <th>Price ($)</th>
                                <th>Commissions (%)</th>
                                <th>CreatedAt</th>
                                <th class="text-right">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(var i = 0; i<items.length; i++) {  %>
                                <tr>
                                    <td><%= items[i]['name_' + lang] %></td>
                                    <td><img src="<%= items[i].pic %>" class="ws-td-img"></td>
                                    <td><%= items[i].barcode %></td>
                                    <td><%= items[i]['description_' + lang] %></td>
                                    <td><%= items[i].price %></td>
                                    <td><%= items[i].comm %></td>
                                    <td><%= formatTime(items[i].createdAt) %></td>
                                    <td class="text-right">
                                        <% if(session.user.role == 'Doctor') {  %>
                                            <a class="btn btn-success" href="/admin/item/view?id=<%= items[i].itemId %>">
                                                <i class="fa fa-eye m-r-5"></i> View Details
                                            </a>
                                        <% } else  { %>
                                            <a class="btn btn-primary" href="/admin/item/edit?id=<%= items[i].itemId %>">
                                                <i class="fa fa-pencil m-r-5"></i> Edit
                                            </a>
                                            <a class="btn btn-danger  ws-delete-link"
                                               href="#"
                                               data-msg="Item"
                                               data-url="/item/delete/<%= items[i].itemId %>"
                                               data-toggle="modal"
                                               data-target="#delete_box">
                                                <i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        <% }  %>

                                    </td>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ../layouts/footer.ejs %>

</body>
</html>
