<!DOCTYPE html>
<html lang="en">
<%- include ../layouts/header.ejs %>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="/assets/plugins/slick/css/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="/assets/plugins/slick/css/slick-theme.css"/>
<%
 var lang = getLocale();
 %>
<body style="direction: <%= (lang == 'ar') ?'rtl':'ltr'; %>">
    <section class="ws-header">
        <img src="/assets/img/banner.png" class="banner-image">
        <div class="ws-header-content">
            <div class="container">
                <a href="/" class="navbar-brand">
                    <img src="/assets/img/logo_white.png">
                </a>
            </div>
            <%- include ../layouts/menu.ejs %>
            <div class="container">
                <div class="row">
                    <div class="col-12" style="display: flex; justify-content: center">
                        <div class="contact-form-wrapper">
                            <h2><%= i18n.__('Contact Us') %></h2>
                            <form method="post" action="/contact-us">
                                <div class="row">
                                    <div class="col-12">
                                        <% if(error && error.length > 0){ %>
                                            <div class="alert alert-danger">
                                                <%= i18n.__('Error') %>
                                            </div>
                                        <% } else if(success && success.length > 0 ){ %>
                                            <div class="alert alert-success">
                                                <%= i18n.__('Success') %>
                                            </div>
                                        <% } %>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="<%= i18n.__('First Name') %>" required name="firstName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="<%= i18n.__('Last Name') %>" required name="lastName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" type="email" placeholder="<%= i18n.__('Email') %>" required name="email">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="<%= i18n.__('Mobile') %>" name="phone">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="<%= i18n.__('Contact Details') %>" name="contactDetail" required rows="8"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success" style="width: 100%"><%= i18n.__('Submit') %></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include ../layouts/social-links.ejs %>
<%- include ../layouts/footer.ejs %>

</body>
</html>
