<!DOCTYPE html>
<html lang="en">
<%- include ../layouts/header.ejs %>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="/assets/plugins/slick/css/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="/assets/plugins/slick/css/slick-theme.css"/>
<body>
    <section class="ws-header">
        <img src="/assets/img/banner.png" class="banner-image">
        <div class="ws-header-content">
            <div class="container">
                <a href="/" class="navbar-brand">
                    <img src="/assets/img/logo_white.png">
                </a>
            </div>
            <%- include ../layouts/menu.ejs %>
            <div class="container">
                <div class="banner-description">
                    <h1>Experience</h1>
                    <p>ealing</p>
                    <p>and curing</p>
                    <p>illnesses</p>
                </div>
                <div class="row auth-app-wrapper">
                    <div class="offset-sm-6 col-sm-6 text-center">
                        <% if(!session.login) {  %>
                            <div class="auth-btn-areas">
                                <a class="btn ws-login-btn" href="/auth/login"><%= i18n.__("Login") %></a>
                                <a class="btn ws-register-btn" href="/auth/register">
                                    <div><%= i18n.__("Create Account") %></div>
                                </a>
                                <div> <%= i18n.__("Forgot your password?") %> <a href="/auth/forgot-password"><%= i18n.__("click here") %></a></div>
                            </div>
                        <% } %>
                        <div class="google-apple-btns ">
                            <a href="#"><img src="/assets/img/google_play.png"></a>
                            <a href="#"><img src="/assets/img/apple.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ws-content text-center" id="ws-about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>About WASFATYONLINE</h2>
                </div>
                <div class="offset-lg-2 col-lg-8">
                    <img src="/assets/img/dash.jpg" alt="dash" class="ws-dash-icon">
                </div>
                <div class="offset-lg-1 col-lg-10">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor indicidunt ut labore
                        et dolore magna ullamco laboris nisi ut aliquip ex ea commodo consequat cilum dolore eu fugiat nulla
                        pariatur.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="ws-content text-center" id="ws-services">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-12 service-item">
                    <h5>Pharmaceutical Sciences</h5>
                    <img src="/assets/img/brain.png">
                    <p>Lorem ipsum dolor sit amet, consecur ipiscing elit, Pha ellus pore pelleop</p>
                </div>
                <div class="col-lg-4 col-sm-6 col-12 service-item">
                    <h5>Clinical Pharmacy</h5>
                    <img src="/assets/img/medicine.png">
                    <p>Lorem ipsum dolor sit amet, consecur ipiscing elit, Pha ellus pore pelleop</p>
                </div>
                <div class="col-lg-4 col-sm-6 col-12 service-item">
                    <h5>Biomolecular Science</h5>
                    <img src="/assets/img/bottle.png">
                    <p>Lorem ipsum dolor sit amet, consecur ipiscing elit, Pha ellus pore pelleop</p>
                </div>
                <div class="col-lg-4 col-sm-6 col-12 service-item">
                    <h5>Bioregulatory Medicine</h5>
                    <img src="/assets/img/doctor.png">
                    <p>Lorem ipsum dolor sit amet, consecur ipiscing elit, Pha ellus pore pelleop</p>
                </div>
                <div class="col-lg-4 col-sm-6 col-12 service-item">
                    <h5>Biomolecular Design</h5>
                    <img src="/assets/img/medicine.png">
                    <p>Lorem ipsum dolor sit amet, consecur ipiscing elit, Pha ellus pore pelleop</p>
                </div>
                <div class="col-lg-4 col-sm-6 col-12 service-item">
                    <h5>Clinical Toxicology</h5>
                    <img src="/assets/img/brain.png">
                    <p>Lorem ipsum dolor sit amet, consecur ipiscing elit, Pha ellus pore pelleop</p>
                </div>
            </div>
        </div>
    </section>

    <section class="ws-content text-center" id="ws-interesting-fact">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Interesting Facts</h2>
                </div>
                <div class="offset-lg-2 col-lg-8">
                    <img src="/assets/img/dash.jpg" alt="dash" class="ws-dash-icon">
                </div>
                <div class="offset-lg-1 col-lg-10">
                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi
                        ut aliquip ex ea commo do consequt. Duis aute irure dolor in reprehenderit
                        in volutate velit esse cillum</p>
                </div>
            </div>
            <div class="row">
                <div class="offset-lg-4 col-lg-4">
                    <!-- Set up your HTML -->
                    <div class="owl-carousel ws-interesting-fact">
                        <div class="ws-own-item">
                            <div>
                                <img src="/assets/img/temp/doctor.png">
                            </div>
                            <p>Alex Evans - Chief of chemist</p>
                        </div>
                        <div class="ws-own-item">
                            <div>
                                <img src="/assets/img/temp/doctor.png">
                            </div>
                            <p>Alex Evans - Chief of chemist</p>
                        </div>
                        <div class="ws-own-item">
                            <div>
                                <img src="/assets/img/temp/doctor.png">
                            </div>
                            <p>Alex Evans - Chief of chemist</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ws-content text-center" id="ws-ads">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="/assets/img/ads.png">
                </div>
            </div>
        </div>
    </section>

    <section class="ws-content text-center" id="ws-members">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Our Doctor</h2>
                </div>
                <div class="offset-lg-2 col-lg-8">
                    <img src="/assets/img/dash.jpg" alt="dash" class="ws-dash-icon">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="slider">
                        <div class="ws-own-item">
                            <div>
                                <img src="/assets/img/temp/doctor.png">
                            </div>
                            <div>
                                <div class="bottom-line-1"></div>
                            </div>
                            <p>Alexder Evans - Chief of chemist</p>
                        </div>
                        <div class="ws-own-item">
                            <div>
                                <img src="/assets/img/temp/doctor.png">
                            </div>
                            <div>
                                <div class="bottom-line-1"></div>
                            </div>
                            <p>Alexder Evans - Chief of chemist</p>
                        </div>
                        <div class="ws-own-item">
                            <div>
                                <img src="/assets/img/temp/doctor.png">
                            </div>
                            <div>
                                <div class="bottom-line-1"></div>
                            </div>
                            <p>Alexder Evans - Chief of chemist</p>
                        </div>
                        <div class="ws-own-item">
                            <div>
                                <img src="/assets/img/temp/doctor.png">
                            </div>
                            <div>
                                <div class="bottom-line-1"></div>
                            </div>
                            <p>Alexder Evans - Chief of chemist</p>
                        </div>
                        <div class="ws-own-item">
                            <div>
                                <img src="/assets/img/temp/doctor.png">
                            </div>
                            <div>
                                <div class="bottom-line-1"></div>
                            </div>
                            <p>Alexder Evans - Chief of chemist</p>
                        </div>
                        <div class="ws-own-item">
                            <div>
                                <img src="/assets/img/temp/doctor.png">
                            </div>
                            <div>
                                <div class="bottom-line-1"></div>
                            </div>
                            <p>Alexder Evans - Chief of chemist</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include ../layouts/social-links.ejs %>

<%- include ../layouts/footer.ejs %>

<script src="/assets/plugins/carousel/js/owl.carousel.min.js"></script>
<script  src="/assets/plugins/slick/js/slick.min.js"></script>

<!--<script src="https://maps.googleapis.com/maps/api/js?key=&callback=myMap"></script>-->

<script>
    $(document).ready(function () {
        $(".ws-interesting-fact").owlCarousel({
            items: 1,
            dots: true,
            loop: true,
            nav: false,
            autoplay: true,
        });

        $(".slider").slick({
            // normal options...
            infinite: true,
            slidesToShow: 5,
            nav: false,
            centerMode: true,
            slidesToScroll: 1,
            autoplay: true,
            centerPadding: 0,
            adaptiveHeight: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                    }
                }]
            // the magic
        });

        /**
         * Show Google Map
         */
        function myMap() {
            var mapProp = {
                center: new google.maps.LatLng(51.508742, -0.120850),
                zoom: 5,
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        }

        // myMap();

        // $('.owl-carousel').find('.owl-nav').removeClass('disabled');
        // $('.owl-carousel').on('changed.owl.carousel', function(event) {
        //     $(this).find('.owl-nav').removeClass('disabled');
        // });

    });
</script>

</body>
</html>
