<!DOCTYPE html>
<html lang="en">

<%- include ../layouts/header.ejs %>
<%
var lang = getLocale();
var suffix = (lang == 'ar') ? 'Ar' : 'En';
%>
<body>
<div class="main-wrapper">
    <%- include ../layouts/menubar.ejs %>
    <%- include ../layouts/sidebar.ejs %>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-title">
                        <%= i18n.__("Order Details") %>
                        &nbsp;<i class="fa fa-print float-right"
                                 id="printOrderDetails"
                                 onclick="onPrintOrderDetails()"
                                 data-toggle="tooltip"
                                 title="<%= i18n.__("Print Order Details") %>"></i>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label><%= i18n.__("OrderNo") %></label>
                                            <input class="form-control" type="text" name="orderId"
                                                   value="<%= orderInfo.orderId %>" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label><%= i18n.__("Email") %></label>
                                            <input class="form-control ws-order-ctl"
                                                   value="<%= orderInfo.clientEmail %>"
                                                   type="text" name="clientEmail" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label><%= i18n.__("Mobile") %></label>
                                            <input class="form-control ws-order-ctl"
                                                   value="<%= orderInfo.clientPhone %>"
                                                   type="text" name="clientPhone" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label><%= i18n.__("Name") %></label>
                                            <input class="form-control ws-order-ctl" disabled
                                                   value="<%= orderInfo.clientName %>"
                                                   type="text" name="clientName">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label><%= i18n.__("Insurance Type") %></label>
                                            <select class="form-control floating ws-order-ctl" disabled id="curInsType">
                                                <% for(i = 0 ; i < ins_types.length; i++) { %>
                                                    <option value="<%= ins_types[i].name %>" <%= (orderInfo.insuranceType == ins_types[i].name) ? 'selected' : '' %>><%= ins_types[i].name %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label><%= i18n.__("Insurance Grade") %></label>
                                            <select class="form-control floating ws-order-ctl" disabled id="curInsGrade">
                                                <% for(i = 0 ; i < ins_grades.length; i++) { %>
                                                    <option value="<%= ins_grades[i].name %>" <%= (orderInfo.insuranceGrade == ins_grades[i].name) ? 'selected' : '' %>><%= ins_grades[i].name %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label><%= i18n.__("Insurance Company") %></label>
                                            <select class="form-control floating ws-order-ctl" disabled  id="curInsCompany">
                                                <% for(i = 0 ; i < ins_companies.length; i++) { %>
                                                    <option value="<%= ins_companies[i].name %>" <%= (orderInfo.insuranceCompany == ins_companies[i].name) ? 'selected' : '' %>><%= ins_companies[i].name %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label><%= i18n.__("Remark") %></label>
                                            <input class="form-control" disabled type="text"
                                                   value="<%= orderInfo.remark %>" name="remark">
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" value="totalPrice" name="totalPrice">
                                <input type="hidden" value="items" name="items" id="items">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="order-item-list">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 82px"><%= i18n.__("Picture") %></th>
                                                        <th><%= i18n.__("Item Code") %></th>
                                                        <th><%= i18n.__("Item Description") %></th>
                                                        <th><%= i18n.__("Item Dosage") %></th>
                                                        <th><%= i18n.__("Qty") %></th>
                                                        <th><%= i18n.__("Amount") %></th>
                                                        <th><%= i18n.__("Total") %></th>
                                                        <th><%= i18n.__("Status") %></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="order-items-body">
                                                <% for(var i = 0; i < orderInfo.items.length; i++) { %>
                                                    <tr>
                                                        <td style="width: 82px">
                                                            <img class="itemPic" src="<%= (orderInfo.items[i].picture && orderInfo.items[i].picture.length != 0) ? orderInfo.items[i].picture : "/assets/img/no_image.png"; %>">
                                                        </td>
                                                        <td><%= orderInfo.items[i].code %></td>
                                                        <td><%= orderInfo.items[i]['description_' + lang] %></td>
                                                        <td><%= orderInfo.items[i].dosage %></td>
                                                        <td><%= orderInfo.items[i].qty %></td>
                                                        <td><%= orderInfo.items[i].amount %></td>
                                                        <td><%= orderInfo.items[i].total %></td>
                                                        <td><%= orderInfo.items[i].status %></td>
                                                    </tr>
                                                <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-12 text-right">
                                            <div class="form-group">
                                                <h4><%= i18n.__("Total") %>: <span
                                                            id="total-item-price"><%= orderInfo.totalPrice %></span>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <p class="order-status-wrap"><%= i18n.__("Order Status") %>: <span
                                                    class="pending"><%= orderInfo.status %></span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label><%= i18n.__("Select Driver") %></label>
                                            <select class="form-control" id="driverList">

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <label class="ws-btn-label">&nbsp;</label>
                                            <button type="button"
                                                    class="btn btn-primary ws-label-btn"
                                                    onclick="onSelectDriver('<%= orderInfo.orderId %>')"><%= i18n.__("Delivery") %></button>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div id="googleMapCompany">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ../layouts/footer.ejs %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= config.gMapKey %>&callback=myMap"></script>
<script>
    /**
     * Show Google Map
     */
    var center = {lat: Number('<%= (user_info.gpsLat)?user_info.gpsLat:config.mapCenter.lat %>'), lng: Number('<%= (user_info.gpsLong)?user_info.gpsLong:config.mapCenter.long; %>')};
    var userPosition = {lat: Number('<%= (user_info.gpsLat)?user_info.gpsLat:config.mapCenter.lat %>'), lng: Number('<%= (user_info.gpsLong)?user_info.gpsLong:config.mapCenter.long; %>')};
    var map, mapProp, marker;
    function myMap() {
        mapProp = {
            center: center,
            zoom: 16,
        };
        map = new google.maps.Map(document.getElementById("googleMapCompany"), mapProp);
    }

    myMap();

    marker = new google.maps.Marker({
        position: userPosition,
        map: map
    });

    google.maps.event.addListener(map, 'click', function(event) {
        // marker.setPosition(event.latLng);
        $('input[name="gpsLat"]').val(event.latLng.lat());
        $('input[name="gpsLong"]').val(event.latLng.lng());
    });

    $('#getMyLocation').click(function () {
        getMyLocation();
    })

</script>
<script>
    //Get Pharmacy List
    var lang  = '<%= lang %>';
    var pMarkerList = {};
    lang = (lang == 'en') ? 'En' : 'Ar';
    $.ajax('/api/user/Driver', {
        type:'get',
        data:{}
    }).done(function (res) {
        if (res.status == 'success') {
            var pList = res.data, pHtml = '';
            for (var i = 0; i<pList.length; i++) {
                console.log(pList[i]);
                pHtml += `<option value="${pList[i]._id}" data-lat="${pList[i].gpsLat}" data-lng="${pList[i].gpsLong}">${pList[i]['name' + lang]}</option>`;
            }
            $('#driverList').html(pHtml);
            showDriverList(pList);
        } else {
            alert(res.data);
        }
    }).always(function (res) {
        console.log('done');
    })

    $('#driverList').change(function () {
        var lat = Number($(this).find('option:selected').data('lat')),
            long = Number($(this).find('option:selected').data('lng'));
        var selectedPharmacyMarker = pMarkerList[$(this).val()];
        google.maps.event.trigger(selectedPharmacyMarker, 'click');
    })

    function showDriverList(pList) {
        var infowindow = new google.maps.InfoWindow();
        for (var i = 0; i < pList.length; i++) {
            var pmarker = new google.maps.Marker({
                position: new google.maps.LatLng(Number(pList[i].gpsLat), Number(pList[i].gpsLong)),
                map: map,
                icon:'/assets/img/driver.png',
            });
            pMarkerList[pList[i]._id] = pmarker;
            google.maps.event.addListener(pmarker, 'click', (function(pmarker, i) {
                var popHTML = `<h5 class="ws-map-popup">${pList[i]['name' + lang]}</h5>`;
                return function() {
                    console.log(pList[i]);
                    $('#driverList').val(pList[i]._id)
                    infowindow.setContent(popHTML);
                    infowindow.open(map, pmarker);
                }
            })(pmarker, i));
        }
    }

    function onSelectDriver(orderId) {
        var driverId = $('#driverList').val();
        if (driverId) {
            swal({
                title: "Are you sure?",
                text: "Once picked up, you will be delivered this order by driver!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        location.href = '/callcenter/orders/delivery/selected/' + orderId + '/' + driverId;
                    } else {
                        console.log('close modal');
                    }
                });
        }
    }

</script>

</body>
</html>
